project_id       = "your-project-id"
region           = "europe-west1"
credentials_file = "credentials.json"

# Backend Integration (get these values from terraform_backend outputs)
schemas_bucket = "event_validator_schemas_bucket-XXXXXXXX"
bq_dataset     = "event_data_dataset"
bq_table       = "event_data_table"

# IAP Configuration
iap_client_id     = "YOUR_CLIENT_ID"
iap_client_secret = "YOUR_CLIENT_SECRET"
authorized_users  = ["user:you@example.com"]
streamlit_image_tag = "latest"

# --- GitHub Integration (Optional) ---
github_token           = "ghp_xxxxxxxxxxxx"
schema_repo_owner      = "your-org"
schema_repo_name       = "event-schemas"
schema_repo_path       = "schemas"
schema_repo_branch     = "main"

# Security & Infrastructure Mode
# true  = Creates a Classic Global Load Balancer (Costly ~$18/mo, but standard IAP)
# false = Uses Cloud Run Direct Integration (Cheaper/Free , Preview feature) or pure Proxy
use_classic_load_balancer = false
